/* BODY: Hintergrundfarbe, Schriftart, -groesse und -farbe */


/* BODY: background color, font, size and color */

:root {
    --s8-background-color: #cc6361;
    --s8-font-color: #f6eaec;
    --s8-candiate-image-size-sm: 3rem;
    --s8-candiate-image-size-lg: 7rem;
    --s8-progressbar-text-color: white;
    --s8-progressbar-background: gray;
    --s8-font-family: "Source Sans Pro";
    --s8-general-background-color: rgb(221, 221, 221);

    --s8-result-spacing: 0.2rem;
}


/* RESULTS PER PARTY  */
#resultsByParty {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 0.2rem;
    flex-direction: column;
    overflow-x: hidden;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    flex-wrap: nowrap;
    height: fit-content;
    width: 100%;
}

.group-header {
    border: solid 1px darkgray;
    overflow: hidden;
    width: 100%;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    box-shadow: 0.11rem 0.1rem rgba(0, 0, 0, .175);
    padding: 0.2rem;
}

.btn-title {
    padding: 0.2rem;
    padding-left: 0.5rem;
    font-size: large;
    font-weight: bolder;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.party-answers-container {
    width: 100%;
    display: flex;
    /* grid-template-columns: auto auto auto 1fr; */
    /* grid-template-rows: 5rem; */
    gap: 0.5rem;
    max-height: 0;
    visibility: collapse;
    display: none;
}

.party-answers-container:nth-child(3n+0) {
    background-color: var(--s8-general-background-color);

}

.party-question-container:nth-child(2n) {
    background-color: var(--s8-general-background-color);
}

.party-question-container {
    display: flex;
    padding: 0.2rem;
    gap: 1rem;
    overflow: hidden;
}
.party-answer-cell:nth-child(3n-2) { /*QUESTION */
    flex: 0 0 11rem;
    /* background-color: yellow; */
}
.party-answer-cell:nth-child(3n-1) { /* ICONS */
    flex: 0 0 4rem;
    /* background-color: #000000; */
}

.party-answer-cell:nth-child(3n-3) { /* TEXT */
    flex: 1 1 auto;
    /* background-color: blue; */
}

.question-group-small {
    display: grid;
    grid-template-columns: 2rem 2rem;
    grid-template-rows: 2rem 2rem;
    gap: 0.5rem;
    font: 2rem
}
.question-group-small > button {
    font-size: medium;
}

.party-answer-cell:nth-child(4n-3) { /* question text */ 
    font-size: large;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}


.party-answers-container.expanded {
    visibility: visible;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
}

.party-answer-opinion {
    overflow: hidden;
}
.party-answer-opinion.clamped {
    overflow: hidden;
    height: 4rem;
}

/* END RESULTS PER PARTY */


body {
    font-family: var(--s8-font-family);
}


.main-layout {
    display: grid;
    grid-template-rows: 5rem 1fr;
    /* background-color: rgb(154, 154, 226);  */
    height: 100%;
    width: 100%;
    /* background-color: rgb(86, 75, 236);  */
    overflow: hidden;
    padding: 0.5rem;
    box-sizing: border-box;
    position: absolute;
    margin: 0;
    gap: 0.1rem;
    /* margin: 0.5rem; */
}

.header {
    background-color: white;
    height: 100%;
    transform-origin: top left;
    overflow: hidden;
}

.card-body {
    overflow-y: scroll;
}

main {
    overflow: hidden;
    display: grid;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    /* flex-flow: nowrap; */
    justify-content: space-between;

}

/* Willkommensnachricht (erster DIV)
   Welcome Message (first DIV) */

#sectionDescription>div:first-of-type {
    padding: 5% 2%;
    text-overflow: clip;
    overflow: auto;
}

#sectionDescription {
    display: grid;
    overflow: hidden;
    gap: 0.2rem;
}

#sectionShowQuestions {
    /* max-height: 51vh; */
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr;
    flex-grow: 1;
    gap: 1rem
    /* border: solid green; */
}

.card {
    height: 100%;
}

.result-header {
    box-shadow: 0.11rem 0.1rem 1px 1px rgba(0, 0, 0, .175);
}

.result-header:active {
    /* box-shadow: inset 0 0 0 0.2rem rgba(0, 0, 0, 0.5); */
}


.question-cell {
    overflow: hidden;
}

#sectionNavigation {
    /* bottom: -16px; */
    /* left: 0; */
    background-color: gray;
    /* position: absolute; */
}

.footer-container {
    display: flex;
    /* background-color: blueviolet; */
    overflow: hidden;
    width: 100%;
}

.footer {
    display: grid;
    width: 100%;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0.5rem
}

.footer-cell {
    overflow: hidden;
    width: 100%;
}


.footer-cell>a {
    font-size: 0.8rem;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapsible-container {
    display: flex;
    flex-direction: column;
    gap: var(--s8-result-spacing);
    overflow: hidden;
}


/* RESULTS AREA REDESIGN*/
.collapsible {
    background-color: var(--s8-background-color);
    color: white;
    cursor: pointer;
    padding: 0.2rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible>h1 {
    font-size: 1.5rem;
}

.scroll-container {
    width: 100%;
    /* overflow-y: scroll; */
}

.content {
    /* transition: max-height 0.2s ease-out; */
    background-color: #f1f1f1;
    display: grid;
    overflow: hidden;
    /* border: solid green; */
    display: flex;
    visibility: hidden;
    max-height: 0;
    overflow-y: scroll;
    padding-right: 0.5rem;
}

.content.section-expanded {
    visibility: visible;
    max-height: fit-content;
}

#sectionResults {
    overflow: hidden;
    display: grid;
}
#results {
    width: 100%;
}

#resultsShort {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.party-container {
    display: grid;
    grid-template-columns: var(--s8-candiate-image-size-lg) 1fr;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}

@media only screen and (max-width: 300px) {
    .party-container {
        grid-template-columns: var(--s8-candiate-image-size-sm) 1fr;
    }
}


.party-container:nth-of-type(even) {
    background-color: var(--s8-general-background-color);
}

.party-description {
    display: inline;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    max-height: fit-content;
    overflow: hidden;
    
}

.graphic-info-container {
    display: flex;
    flex-direction: column;
}

.party-image {}

.party-percent {
    width: 100%;
}

/* .party-percent > .progress > .progress-bar {
    overflow: visible;
} */
.party-percent>.progress {
    background-color: var(--s8-progressbar-background);
    position: relative;
}

.party-points-text {
    position: absolute;
    left: 0.5rem;
    color: var(--s8-progressbar-text-color);
    font-weight: bolder;
}


#resultsByThesis {
    /* display: grid; */
    grid-template-columns: 1fr;
    gap: 0.2rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    flex-wrap: nowrap;
    height: fit-content;
}

.parties-group.questionGroup.collapsible-container {
    display: grid;
    grid-template-columns: 3rem 1fr;
    display: flex;
    gap: 0.5rem;
}

.parties-group.questionGroup.collapsible-container.section-expanded {
    visibility: visible;
    max-height: fit-content;
}

.party-answer {
    display: flex;
    padding: 0.2rem;
    gap: 1rem;
}

.question-group-header {
    border: solid 1px darkgray;
    overflow: hidden;
    width: 100%;
    display: grid;
    grid-template-columns: 3rem 3rem 1fr;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    box-shadow: 0.11rem 0.1rem rgba(0, 0, 0, .175);
    padding: 0.2rem;
}

.btn-question-title {
    padding: 0.2rem;
    padding-left: 0.5rem;
    font-size: x-large;
    font-weight: bolder;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.collapsible-question {
    /* overflow: hidden; */
    visibility: collapse;
    max-height: 0;
    display: flex;
    width: 100%;
}

.collapsible-question.section-expanded {
    visibility: visible;
    max-height: fit-content;
}

.party-answer:nth-child(2) {
    background-color: var(--s8-general-background-color);
}

.party-answer-group {
    flex: 0 0 3rem;
    display: grid;
    grid-template-rows: 2rem 2rem;
    grid-template-columns: 2rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.clamped {
    max-height: 6rem;
    overflow: hidden;
}

.party-answer-group > .btn-sm.btn {
    font-size: medium;
    overflow: hidden;
    height: 2rem;
}

.opinion {
    overflow: hidden;
}


/* LINK-Farbe - AUSSER bei der Bootstrap-Klasse "btn" für Buttons. Dort wird der Bootstrap-Standard benutzt. */


/* LINK-color - EXCEPT for Bootstrap button-class "btn". Use defaults there. */

a:not(.btn) {
    color: #000000;
    text-decoration: underline;
}

a:not(.btn):link {
    color: #000000;
}

a:not(.btn):visited {
    color: #808080;
}

a:not(.btn):active {
    color: #ff0000;
}

a:not(.btn):hover {
    color: #ff0000;
    text-decoration: none;
}

.title-img {
    height: 100%;
    transform-origin: top left;
}


.question-card {
    background-color: var(--s8-background-color);
    color: #f6eaec;
}

.card-header {
    background-color: var(--s8-background-color);
    color: var(--s8-font-color);
}

.card-text {
    color: #000000;
}

.grid-container {
    display: grid;
    /* grid-template-columns: 1fr 3fr; */
    /* grid-template-rows: auto 1fr auto; */
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    gap: 0.5rem;
    grid-template-areas: "w1 w2 w3 w4 w5 w6 w7 w8 w9" "yes yes yes no no no skip skip skip";
}

@media only screen and (max-width: calc(9 * (66px + 1rem) + 67px)) {
    .grid-container {
        grid-template-areas:
            "w1 w2 w3"
            "w4 w5 w6"
            "w7 w8 w9"
            "yes no skip";
    }
}

.weight-container {
    /* working with flex */
    grid-column-start: w1;
    grid-column-end: w9-end;
}

.weight-container__description {
    display: flex;
    justify-content: space-between;
}

.weight-container__weight-bar {
    display: flex;
    gap: 0.5rem;
    overflow: auto;
}

.btn-answer {
    height: 100%;
}

.btn {
    margin: 0 !important;
    /* overwrite system/scss/mixins/_buttons */
    font-size: 1.5rem;
}

.weniger {
    grid-area: weniger;
}

.normal {
    grid-area: normal;
}

.mehr {
    grid-area: mehr;
}

.yes {
    grid-area: yes;
}

.dontCare {
    grid-area: dontCare;
}

.no {
    grid-area: no;
}

.skip {
    grid-area: skip;
}

.w9 {
    grid-area: w9;
}

.w8 {
    grid-area: w8;
}

.w7 {
    grid-area: w7;
}

.w6 {
    grid-area: w6;
}

.w5 {
    grid-area: w5;
}

.w4 {
    grid-area: w4;
}

.w3 {
    grid-area: w3;
}

.w2 {
    grid-area: w2;
}

.w1 {
    grid-area: w1;
}

#sectionVotingButtons .row {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
}

#sectionVotingButtons .row .btn {
    height: 100%;
    margin: 0;
    padding: 1rem;
}


/* Statistik */


/* Statistics */

#keepStats {
    margin-top: 10px;
    font-size: 90%;
}




/* BOOTSTRAP */

.row {
    padding: 0.2em;
}


/* Gestreifte Spalten in den Ergebnis-Listen
	Striped rows in results */

.mow-row-striped:nth-child(odd) {
    background-color: var(--s8-general-background-color);
}


/* Social Media DIV und zugehoerige Buttons */


/* Social media DIV and corresponding buttons */

.social-facebook {
    background: #4560a3;
    color: #c0c0c0;
}

.social-twitter {
    background: #68ace3;
    color: #fff;
}

.social-mail {
    background: #c6c6c6;
    color: #fff;
}


/*	FadeIn + FadeOut */

@keyframes myFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes myFadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}